body {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

p {
  color: #8f8f8f;
}

button:focus {
  outline: none;
}

.navbar-toggler-icon {
  color: #004d40;
}

/* Headings */

.big-heading {
  font-family: "Mulish", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: black;
}

.big-heading-desc {
  margin: 0% 5%;
  width: fit-content;
  font-weight: bold;
  font-size: 1.2rem;
}

.heading{
    margin-top: 5%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 1% 7% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 5px 100px;
  background-color: white;
}
.navbar-brand {
  text-align: left;
}
.navbar-brand img {
  width: 40% !important;
  margin-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

.login-item {
  padding: 0;
  margin-top: 5px;
}

.menu {
  margin-left: 8%;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  color: #373f41;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

.get-started-btn {
  color: black;
  border-radius: 50px;
  padding: 6px 25px 7px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 1rem;
  display: inline-block;
  border: 2px solid #424928;
  font-weight: bold;
  /* margin-top: 5px; */
}

.get-started-btn:hover {
  background: #424928;
  color: #fff;
}

/* Title Section */

#title {
  text-align: center;
  padding: 10%;
  height: 40rem;
  margin-top: 84px;
}

/* Searching */

.search {
  display: flex;
}

.girl-img {
  width: 100%;
  margin: 20% 0%;
  z-index: 1;
}

.plant-img {
  width: 90%;
  margin: 20% 0%;
  z-index: 1;
}

.search-input {
  width: 50%;
  border-radius: 2.5rem;
  outline: none;
  text-align: center;
  z-index: 2;
}

.searching-section {
  width: 60px;
  margin: 15% 0%;
  margin-top: 14%;
  z-index: 2;
}

.search-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.card{
    max-width: 100%;
    margin: 2% 10%;
    text-align: left;
    border: none;
}

.card-img{
    width: 50%;
    border-radius: 50%;
}

.card-img-top{
    width: 88%!important;
}

.kategori-title{
    margin: 10% 0;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .navbar-brand {
    text-align: center;
    width: 100%;
  }

  .navbar-toggler {
    text-align: center;
    width: 100%;
  }

  .menu {
    margin-left: 0;
  }

  .heading {
    margin-top: 20%;
  }

  .girl-img {
    display: none;
  }

  .plant-img {
    display: none;
  }

  .side {
    width: 0;
  }

  .search-input {
    width: 50%;
    border-radius: 2.5rem;
    outline: none;
    text-align: center;
    z-index: 2;
  }

  .searching-section {
    width: 100%;
    margin-top: 14%;
    z-index: 2;
    text-align: center;
  }

  .search-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  
  .card-img{
      width: 100%;
  }

  .card-img-top{
      width: 100%!important;
  }
}
